-content_for :stylesheets do
  =stylesheet_link_tag "internal.css"
  =stylesheet_link_tag "servicos.css"

-content_for :highlight do
  .row.highlight
    .col-md-12.image
      =image_tag("destaques/company.jpg")

  .row.highlight-item
    .col-md-8.col-md-offset-2
      %h1 Avalie e acompanhe a performance da sua empresa por meio de índices estatísticos objetivos.

%section.main-content
  .container.breadcrumb-custom
    .row
      .col-md-12
        = link_to "quantittus / ", "#"
        = link_to "serviços", "#", :class => "active"
    
    .row
      .col-md-12
        %h1 Sobre a QuantiTTus
        
    .row.servicos
      .col-md-3
        .col-md-10.menu
          =link_to "Business Analytics", ba_servicos_path
          =link_to "Business Optimization", bo_servicos_path
          =link_to "Business Intelligence", bi_servicos_path, :class => "active"
          =link_to "Lean Six Signa", lss_servicos_path
          
      .col-md-8
        %h2 Business Intelligence
        %span Organização e análise de dados para gestão 
        
        %p
          A experiência e qualificação de nossa equipe em métodos quantitativos aplicados à gestão, garantem a análise e organização precisas de dados referentes a todos os aspectos e fatores de operação da empresa (produtividade, faturamento e perfil de clientes), permitindo a padronização desses dados em modelos estatísticos de compilação e análise para a entrega de indicadores objetivos e simplificados, gerando métricas atualizadas que estabelecem índices de desempenho do negócio e insights baseados em fatos, para uma gestão responsiva, preventiva e estratégica.
          <br /><br />
          Entre em contato e agende uma reunião para conhecer mais sobre nossas soluções em business intelligence.
          
        %p
          =image_tag("servicos/bi.jpg")
