-content_for :stylesheets do
  =stylesheet_link_tag "internal.css"
  =stylesheet_link_tag "servicos.css"

-content_for :highlight do
  .row.highlight
    .col-md-12.image
      =image_tag("destaques/company.jpg")

  .row.highlight-item
    .col-md-8.col-md-offset-2
      %h1 Melhore a gestão dos recursos da sua empresa em processos operacionais, táticos e estratégicos e amplie seus resultados

%section.main-content
  .container.breadcrumb-custom
    .row
      .col-md-12
        = link_to "quantittus / ", "#"
        = link_to "serviços", "#", :class => "active"
    
    .row
      .col-md-12
        %h1 Serviços
        
    .row.servicos
      .col-md-3
        .col-md-10.menu
          =link_to "Business Analytics", ba_servicos_path
          =link_to "Business Optimization", bo_servicos_path, :class => "active"
          =link_to "Business Intelligence", bi_servicos_path
          =link_to "Lean Six Signa", lss_servicos_path
          
      .col-md-8
        %h2 Business Optimization
        %span Otimização da gestão de recursos
        
        
        %p 
          Nossa equipe, formada por engenheiros especializados em gestão de processos em negócios, é capacitada para analisar processos operacionais, táticos e estratégicos da sua empresa e entregar diagnósticos e soluções precisas, com eficiência de custos e alta performance, maximizando resultados desejados e minimizando fatores indesejados, para melhorar a gestão de recursos aplicados e ampliar resultados de impacto.
          <br /><br />
          Entre em contato e agende uma reunião para conhecer mais sobre nossas soluções em business optimization.
          
        
        %p
          =image_tag("servicos/bo.jpg", :width => "100%")
