-content_for :stylesheets do
  =stylesheet_link_tag "internal.css"
  =stylesheet_link_tag "news.css"

-content_for :highlight do
  .row.highlight
    .col-md-12.image
      =image_tag("destaques/news.jpg")

  .row.highlight-item
    .col-md-8.col-md-offset-2
      %h1 Acompanhe nossas realizações e novidades

%section.main-content
  .container.breadcrumb-custom
    .row
      .col-md-12
        = link_to "quantittus / ", "root_path"
        = link_to "notícias / ", "news_index_path"
        = link_to "#{@new.title}", "#", :class => "active"
        
    
    .row
      .col-md-12
        %h1 Notícias
        
    .row.news-full
      .col-md-12
        =image_tag(@new.image.url(:big))
        
        %h2.margin-top-30=@new.title

      .col-md-12.margin-top-30
        %p=raw(@new.full_text)
        
      