-content_for :stylesheets do
  =stylesheet_link_tag "internal.css"
  =stylesheet_link_tag "consultoria.css"

-content_for :highlight do
  .row.highlight
    .col-md-12.image
      =image_tag("destaques/consultoria.jpg")

  .row.highlight-item
    .col-md-8.col-md-offset-2
      %h1 Conheça e explore oportunidades na sua empresa

%section.main-content
  .container.breadcrumb-custom
    .row
      .col-md-12
        = link_to "quantittus / ", root_path
        = link_to "consultoria", "#", :class => "active"
    
    .row
      .col-md-12
        %h1 Consultoria
        
    .row.consultoria
      .col-md-12
        %h2 
          =image_tag("produtos/ico-diagnostico.jpg")
          Diagnóstico
        %span   Saiba quais são e onde estão os principais desafios da sua empresa, seja em um departamento, processo ou estrutura
        
        %p 
          A visão interna de processos e atividades da empresa pode dificultar a identificação dos reais desafios enfrentados, barreiras que podem comprometer um desempenho excelente do negócio. Por isso, oferecemos diagnósticos objetivos e de profundidade, aplicando toda a experiência e qualificação de nossa equipe em práticas e métodos de gestão ao mapeamento e análise de problemas que devam ser mitigados e oportunidades que devam ser exploradas pela empresa. 
          <br /><br />
          Entre em contato e agende uma reunião para conhecer mais sobre nossas soluções em diagnósticos de gestão.
          
          
        %h2 
          =image_tag("produtos/ico-solucoes.jpg")
          Soluções
        %span Tenha soluções completas, customizadas e seguras para problemas e oportunidades em sua empresa

        %p 
          Quando problemas e oportunidades são reconhecidos pela empresa, é necessário desenvolver e aplicar soluções que sejam assertivas, eficazes e com eficiência de custos, porém, em muitos casos, o empreendimento carece de equipe especializada para estas situações. Nestes casos, nós oferecemos serviços altamente especializados no planejamento, desenvolvimento e implementação de soluções para negócios, tudo por meio de uma equipe qualificada e experiente. 
          <br /><br />
          Entre em contato e agende uma reunião para conhecer mais sobre nossas soluções.
          
          
        
