-content_for :stylesheets do
  =stylesheet_link_tag "internal.css"
  =stylesheet_link_tag "team.css"

-content_for :highlight do
  .row.highlight
    .col-md-12.image
      =image_tag("destaques/team.jpg")

  .row.highlight-item
    .col-md-8.col-md-offset-2
      %h1 Conheça quem transforma oportunidades em resultados

%section.main-content
  .container.breadcrumb-custom
    .row
      .col-md-12
        = link_to "quantittus / ", "#"
        = link_to "equipe", "#", :class => "active"
    
    .row
      .col-md-12
        %h1 Equipe
        
    .row.team
      - @teams.each do |m|
        .col-md-4
          %h3.text-center 
            %b=m.name
            %br
            ="#{m.position}"
      
          %p.text-center
            =link_to(image_tag(m.image.url(:medium)), team_path(m))
