// Place all the styles related to the servicos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.produtos
{
  h2
  {
    font-size:21px;
    color:#0099ce;
    font-weight:300;
  }
  span
  {
    font-size:14px;
    color:#0099ce;
    font-weight:300;
    margin-top:-5px;
    margin-left:65px;
  }
  
  p
  {
    font-size:14px;
    color:#8b8b8b;
    margin-left:65px;
  }
    
}